<div class="well well-sm" ng-if="alta.errorMsg">
    <h1><span class="label label-danger">{{alta.errorMsg}}</span></h1>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <button type="button" class="btn btn-default" ng-click="alta.errorMsg=null">Cerrar</button>
        </div>
    </div>
</div>

<div class="well well-sm">
    <div ng-class="['form-group']">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="inputEmail">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="text" class="form-control" ng-model="alta.email" id="inputEmail"/>
                <span class="label label-danger" ng-if="alta.email|EmailFilter">{{alta.email|EmailFilter}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="pssdInput">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="password" class="form-control"  ng-model="alta.password" id="pssdInput"/>
                <span class="label label-danger" ng-if="alta.password|PassFilter">{{alta.password|PassFilter}}</span>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label class="control-label" for="pssdInput2">Verificación Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <input type="password2" class="form-control"  ng-model="alta.password2" id="pssdInput2"/>
                <span class="label label-danger" ng-if="alta.password2|Pass2Filter">{{alta.password2|Pass2Filter}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-2">
            <button type="button" ng-click="alta.clean()" class="btn btn-default">Reset</button>&nbsp;  
            <button type="button" ng-click="alta.altaAction()" ng-class="['btn', 'btn-primary', {'disabled':((alta.password|PassFilter) || (alta.email|EmailFilter))}]">Alta Usuario</button>
        </div>
    </div>
</div>